
button {
  outline: none !important; 
}

.margineMenu{
    margin-top: 90px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

/* INIZIO GESTIONE ERRORI */
.error
{
  color:#a94442;
}

.errorInput .form-control:focus , .errorInput:focus
{
  border-color:#843534 !important;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 ;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
  box-shadow:inset  0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483;
}

.errorInput
{
  border-color:#843534 !important;
}
/* FINE GESTIONE ERRORI */

/* INIZIO MENU CANVAS*/

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 1% 0;
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  backface-visibility: hidden; 
}
.show-nav #site-canvas {
  transform: translateX(250px);
  transform: translate3d(250px, 0, 0);
}
#site-menu {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -250px;
  background: #2B2B2B;
  color: #ffffff;
}

.btn-hamburger, .btn-hamburger:hover, .btn-hamburger:active, .btn-hamburger:focus{
  background: #2B2B2B;
  color: #ffffff;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.list-user {
  background: #2B2B2B;
  color: #ffffff;
  font-size: 20px;
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
}

.list-user button{
  background:none;
  border: none;
}


.title-menu-canvas{
  font-size: large;
  padding: 5px;
  text-align:center;
}

/*FINE MENU CANVAS*/