@media only screen and (min-width: 1024px) {
    #site-wrapper {
        padding-top: 7%;
    }
}

@media only screen and (max-width: 1024px) {
    #site-wrapper {
        padding-top: 7%;
    }
}
@media only screen and (max-width: 960px) {	
    #site-wrapper {
        padding-top: 7%;
    }
}
@media only screen and (max-width: 800px) {
    #site-wrapper {
        padding-top: 9%;
    }
}
@media only screen and (max-width: 767px) {
    #site-wrapper {
        padding-top: 10%;
    }
}
@media only screen and (max-width: 640px) {
    #site-wrapper {
        padding-top: 12%;
    }
}
@media only screen and (max-width: 480px) {
    #site-wrapper {
        padding-top: 17%;
    }
}
@media only screen and (max-width: 320px) {
    #site-wrapper {
        padding-top: 23%;
    }
}
@media only screen and (max-width: 240px) {
    #site-wrapper {
        padding-top: 28%;
    }
}
