.titoloPanel
{
    font-size:20px;
    padding:5px 10px;
    color:#FFF;
    font-weight: bold;
}

.icon_modifica{
    color: #000000;
}

.titoli_tabella th{
    text-align: center;
}

.campi_tabella td{
    text-align: center;
}
