<div class="container login-page" ng-init="vm.loginStatus();">
        <form id="login" class="form-signin" ng-submit="vm.login();">
          <center><img src="medias/logo-azienda.png" class="img-responsive" alt="logo"></center>
          <label for="inputEmail" class="sr-only">Email</label>
          <input ng-model="vm.user.email" type="email" class="form-control" placeholder="Email" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input ng-model="vm.user.password" type="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
</div>