<div class="container margineMenu">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Profilo</div>
                <div class="panel-body">
                    <form id="profile_form" name="userForm" ng-init="vm.LoadProfile();" ng-submit="vm.UpdateProfile();">
                        <div class="row">
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <img src="/uploads/profile/{{vm.user.photo}}" class="img-circle img-thumbnail profile-image"/>
                            </div>
                            <div class="col-xs-12 col-md-2 col-sm-2">
                                <span class="btn btn-default btn-file btn-lg" data-toggle="tooltip" data-placement="right" title="Carica Foto">
                                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>   
                                    <input type="file" ng-model="file" data-file fileread="vm.user.filePhoto">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4" ng-class="{'has-error':userForm.email.$invalid && !userForm.email.$pristine}">
                                <label>Email</label>
                                <input ng-model="vm.user.email" name="email" required disabled type="email" class="form-control"  placeholder="email">
                                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Il campo non può essere vuoto</p>
                            </div>
                            <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4" ng-class="{'has-error':userForm.nome.$invalid && !userForm.nome.$pristine}">
                                <label>Nome</label>
                                <input ng-model="vm.user.nome" name="nome" required ng-minlength="1" type="text" class="form-control" placeholder="Nome">
                                    <p ng-show="userForm.nome.$invalid && !userForm.nome.$pristine" class="help-block">Il campo non può essere vuoto</p>
                            </div>
                            <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4" ng-class="{'has-error':userForm.cognome.$invalid && !userForm.cognome.$pristine}">
                                <label>Cognome</label>
                                <input ng-model="vm.user.cognome" name="cognome" required ng-minlength="1" type="text" class="form-control"  placeholder="Cognome">
                                    <p ng-show="userForm.cognome.$invalid && !userForm.cognome.$pristine" class="help-block">Il campo non può essere vuoto</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4">
                                    <label>Status</label><br/>
                                    <select class="form-control" name="status" ng-model="vm.user.status" ng-options="option.id as option.nome for option in vm.ListaStatus"></select>                                
                            </div>
                            <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4" ng-class="{'has-error':userForm.room.$invalid && !userForm.room.$pristine}">
                                <label>Room</label>
                                <input ng-model="vm.user.room" name="room" required ng-minlength="1" type="text" class="form-control"  placeholder="Room">
                                <p ng-show="userForm.room.$invalid && !userForm.room.$pristine" class="help-block">Il campo non può essere vuoto</p>
                           </div>
                           <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4">
                               <label>Colore Marker</label>
                               <input ng-model="vm.user.colorMarker" name="colorMarker" required ng-minlength="1" type="color" class="form-control" placeholder="#color">
                           </div>
                        </div>
                        <div class="row">
                            <div class="form-group single_panel col-xs-12 col-md-4 col-sm-4">
                                <button type="button" ng-click="vm.OpenChangeProfilePwdDialog();" class="btn btn-default col-xs-12 col-md-12 col-sm-12"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Cambia Password</button>      
                            </div>
                        </div>
                        <div class="row salva-modifiche">
                            <div class="form-group col-xs-12 col-md-12 col-sm-12 text-right">
                                <a class="btn btn-warning" href="#/home">Annulla</a>
                                <button type="submit" class="btn btn-success">Salva</button>
                            </div>   
                        </div>                   
                    </form>
                </div>
            </div>
        </div>
</div>
