.salva-modifiche{
    margin-top: 3%;
}

.titoli_tabella th{
    text-align: center;
}

.campi_tabella td{
    text-align: center;
}
.icon_modifica{
    color: #000000;
}


.profile-image
{
    width: 150px;
    height: 150px;
}
.btn-file {
    margin: 2%;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.profile-image-gest{
    width: 150px;
    height: 150px;
}

@media only screen and (min-width: 1200px) {
    .profile-image
    {
        width: 150px;
        height: 150px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 8% 9%;
    }
}
@media only screen and (max-width: 1199px) {
    .profile-image
    {
        width: 150px;
        height: 120px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 8% 9%;
    }
}
@media only screen and (max-width: 991px) {	
    .profile-image
    {
        width: 150px;
        height: 150px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 15% 18%;
    }
}
@media only screen and (max-width: 767px) {
    .profile-image
    {
        width: 150px;
        height: 150px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 15% 18%;
    }
}

@media only screen and (max-width: 490px) {
    .profile-image
    {
        width: 120px;
        height: 120px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 20% 26%;
    }
}
@media only screen and (max-width: 420px) {
    .profile-image-small{
        width: 75% !important;
    }
    .profile-image
    {
        width: 150px;
        height: 150px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 50% 60%;
    }
}
@media only screen and (max-width: 300px) {
    .profile-image-small{
        width: 70% !important;
    }
    .profile-image
    {
        width: 120px;
        height: 120px;
    }
    .btn-file {
        margin: 2%;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding: 100%;
    }
} 