.salva-modifiche{
    margin-top: 3%;
}

.titoli_tabella th{
    text-align: center;
}

.campi_tabella td{
    text-align: center;
}
.icon_modifica{
    color: #000000;
}


.profile-image
{
    width: 150px;
    height: 150px;
}
.btn-file {
    margin: 2%;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    padding: 7%;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}