#mappa
{
    width:100%;
    height:400px;
}
.btn-comandi{
    width: 100%;
    font-size: 15px !important;
    padding: 2px !important;
    margin-bottom: 5px !important;
}

.btn-hamburger {
    outline: none !important; 
  }

  .profile-image-list{
    width: 35px;
    height: 35px;
    border: 2px solid #FFFFFF;
}

/* @media only screen and (max-width: 1199px) {
    .profile-image-modal
    {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 991px) {
    .profile-image-modal
    {
        width: 150px;
        height: 150px;
    }
} */




@media only screen and (min-width: 1200px) {
    .profile-image-modal
    {
        width: 120px;
        height: 120px;
    }
}
@media only screen and (max-width: 1199px) {
    .profile-image-modal
    {
        width: 120px;
        height: 120px;
    }
}
@media only screen and (max-width: 991px) {	
    .profile-image-modal
    {
        width: 120px;
        height: 120px;
    }
}
@media only screen and (max-width: 767px) {
    .profile-image-modal
    {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 490px) {
    .profile-image-modal
    {
        width: 120px;
        height: 120px;
    }
}
@media only screen and (max-width: 420px) {
    .profile-image-small{
        width: 75% !important;
    }
    .profile-image-modal
    {
        width: 150px;
        height: 150px;
    }
}
@media only screen and (max-width: 300px) {
    .profile-image-small{
        width: 70% !important;
    }
    .profile-image-modal
    {
        width: 120px;
        height: 120px;
    }
} 